@import url("../template/Global.css");

.modal-cart { 
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background: #333333;
    background-color: rgba(0,0,0,0.5); 
 
}

.modal-content-cart {
    background-color:var(--Bright); 
    border-radius: 8px;
    margin: auto;
    padding: 30px;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
}


.cartHead {
    float: left;
    padding: 14px 30px;
  }

   /*  Close Button */
   .close-cart  {
    float: right;
    height: 24px;
    width: 24px;
    margin-top: -16px;
    margin-right: -16px;
  }
  
  .close-cart:hover,
  .close-cart:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.month-sel{
    margin-left: 50px;
    
}

.collapsible {
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 10px;
    padding: 18px;
    width: 98%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.1));
    border-radius: 6px;
}
  
.active, .collapsible:hover {
    cursor: pointer;
    background: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    opacity: 1;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.verticalLine {
    border-left: 2px solid #dfdddd;
}

.hd-table {
    background:  #E0E0E0; 
}

.btn-pop-bl{
    background-color: var(--Bright);
    border: 2px solid #4a494d;
    box-sizing: border-box;
    border-radius: 6px;
    width: 110px; 
    height: 30px;
    cursor: pointer;
    margin-left: 30px;
}

.btn-pop-bl:hover{
    background-color:  #4a494d;
    color: var(--Bright);
}

.scroll-table-mem{
    position: relative;
    top:20px;
    /*overflow: auto;*/
    margin: auto;
    width: 100%;
    height: 80%;
}